<h1>
	New Review Page
</h1>

<%= form_for @review do |f| %>
  <% if @review.errors.any? %>
    <p> There were errors with your submission:</p>
    <ul>
      <% @review.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<%end%>
